h1, h2, h4, h5, p {
  font-family: 'Roboto';
  color: #444444;
}

h1 {
  font-size: 48px;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
}

p, a{
  font-size: 16px;
}

a {
  font-family: 'Roboto';
}
.App {
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-56 {
  margin-top: 56px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-80{
  margin-top: 80px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-70 {
  margin-bottom: 70px;
}

.padding-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.light-grey-background {
  background: #EFEFEF;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-container {
  max-width: 1300px;
}

.banner {
  width: 100%;
  margin-top: -380px;
}

.banner-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.vertical-crop {
  height: 270px;
  overflow: hidden;
}

.profile{
  max-width: 100%;
}

.work-card{
  height: 580px;
  border-width: 5px;
  padding: 10px;
}

.project-img {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 420px) {
  .vertical-crop {
    height: 0;
  }

  .about-me, .work-cards, .work-col, .projects-title, .project-card-title {
    margin-top: 20px;
  }

  .cwh-pic {
    margin-bottom:0;
  }
}

@media (min-width: 421px) and (max-width: 780px) {
  .banner {
    margin-top:-80px;
  }

  .about-me {
    margin-top:0;
  }

  .work-cards {
    margin-top: 30px;
  }

  .cwh-pic {
    margin-bottom: 40px;
  }

  .projects-title {
    margin-top: 20px;
  }
}

@media (min-width: 781px) and (max-width: 900px) {
  .banner {
    margin-top:-60px;
  }

  .banner-text {
    top: 16%;
  }

  .about-me {
    margin-top:0;
  }

  .work-cards {
    margin-top: 30px;
  }

  .cwh-pic {
    margin-bottom: 40px;
  }

  .projects-title {
    margin-top: 20px;
  }
}

@media (min-width: 901px) and (max-width: 1000px) {
  .banner {
    margin-top:-120px;
  }

  .about-me {
    margin-top: 0;
  }

  .work-cards {
    margin-top: 30px;
  }

  .work-card {
    height: 600px;
  }

  .cwh-pic {
    margin-bottom: 42px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
